@font-face {
  font-family: 'Windows 95';
  src: url('../fonts/w-95-sans-serif.woff2') format('woff2'),
      url('../fonts/w-95-sans-serif.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;

  font-family: "Windows 95", Arial, Helvetica, sans-serif;
}